body {
    color:rgb(117, 84, 43);
    background: beige;
    margin: 0px;
    font-family: "Kanit", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(161, 110, 15);
    padding: 15px;
    font-size: 30px;
    color: rgb(161, 110,15);
}

.chamada{
    background: rgba(212, 184, 125, 0.521);
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 5px;
}

.categoria{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

.categoria-videos img{ 
    opacity:0.5;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 5px solid rgba(150, 100, 35, 0.788);
}

.categoria h2{
    color: rgba(173, 116, 8, 0.699);
}